# Matplotlib Problem Set

In [0]:
import matplotlib.pyplot as plt
import numpy as np
import os

#### Below is the temperature in degrees Celsius for this day (July 10) in Boston from 1961 to 2010. Plot the temperature on the Y-Axis

In [0]:
temp_boston = [17.8, 22.8, 17.5, 16.4, 23.35, 25.3, 27.25, 24.45, 22.5, 23.6, 26.7, 22.75, 21.95, 26.4,
23.05, 22.5, 21.1, 26.1, 23.9, 20.25, 27.8, 23.9, 21.7, 19.7, 25.0, 21.4, 21.1, 27.8, 22.25, 27.25, 
23.35, 25.0, 30.0, 25.8, 23.6, 22.5,19.15, 22.8, 23.6, 25.0, 20.8, 21.4, 18.6, 23.05, 25.0, 25.0,
18.35, 25.3, 18.6]

In [0]:
# write code here

#### Below is the temperature in degrees Celsius for this day (July 10) in New York from 1961 to 2010. Plot the temperatures of New York and Boston on the same graph in different colors

In [0]:
temp_new_york =[23.35, 25.25, 20.25, 22.25, 25.85, 25.85, 25.55, 24.2, 22.5, 23.9, 28.3, 22.8, 26.7,
29.7, 23.6, 22.8, 23.05, 26.7, 20.3, 23.65, 28.05, 25.0, 21.4, 21.35, 26.1, 25.25, 28.35, 25.85, 27.5,
26.4, 21.7, 27.2, 32.25, 28.3, 22.5, 23.05, 22.8, 25.0, 24.7, 27.5, 25.85, 24.45, 20.0, 24.15, 26.95,
22.5, 25.85, 27.25, 19.4]

In [0]:
# write code here

#### Plot the temperatures of New York and Boston on different graphs in the same figure¶

In [1]:
# write code here

#### Plot the distribution of ethnicity - using the same data set in tutorial

In [0]:
# write code here

#### Plot "hours of TV time" distribution by sex

In [ ]:
# write code here

#### Explore the relationship between BMI and age. Does there appear to be an association?

In [ ]:
# write code here

#### Explore the relationship between BMI and sex by ethnicity. What ethnicity and sex has the highest median BMI?

In [ ]:
# write code here

#### Explore the relationship between BMI and TV hours for females and males of the age groups < 45 years old and $\ge$ 45 years old. In other words, compare the distribution of BMI for the different age groups by sex and hours of TV time.

In [ ]:
# write code here

## If you have time here are some challenge python problems

As depicted below, create a numpy array of zeros (a) and an array of ones (b). Using slicing and assignment, update a using b, so that a is the array on the right side of the arrow. <br>
hint: use np.zeros and np.ones

In [0]:
# 0 0 0 0 0 0                  0 0 0 0 0 0
# 0 0 0 0 0 0    1 1 1  --->   0 0 0 0 0 0
# 0 0 0 0 0 0    1 1 1         0 0 1 1 1 0
# 0 0 0 0 0 0                  0 0 1 1 1 0

In [0]:
# write code here

Fill in the function below. The function recieves a non-empty string and an int n, and returns a new string where the character at index n has been removed.¶

In [0]:
def remove_char(old_string, n):
    # write code here
    return

Given a string, return a new string where the first and last characters have been exchanged.

In [0]:
def swap_chars(old_string):
    # write code here
    return

Test the function with three different parameters

In [ ]:
# write code here