Hello! In this notebook we (you) are going to be visualizing and quantifying the relationships between certain variables. Most of these exercises are using a subset of the NHANES dataset from 1999-2000

In [81]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
!pip install sklearn
import sklearn.linear_model as lm
!git clone https://github.com/bwsimedlytics/Week1Public

# Use this to plot trendlines
def trendline(x,m,b):
    xList = list(np.arange(min(x),max(x),(max(x)-min(x))/30))
    plt.plot(xList,[m*delX+b for delX in xList])
    
# EXAMPLE USAGE
# hp = model.fit(x,y)
# trendline(x,hp.coef_[0],hp.intercept_)

Requirement already satisfied: sklearn in /Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages (0.0)
Requirement already satisfied: scikit-learn in /Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages (from sklearn) (0.21.2)
Requirement already satisfied: scipy>=0.17.0 in /Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages (from scikit-learn->sklearn) (1.3.0)
Requirement already satisfied: numpy>=1.11.0 in /Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages (from scikit-learn->sklearn) (1.15.2)
Requirement already satisfied: joblib>=0.11 in /Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages (from scikit-learn->sklearn) (0.13.2)
You are using pip version 19.0.3, however version 19.1.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.
fatal: destination path 'Week1Public' already exists and is not an empty directory.

In [34]:
data = pd.read_csv("Week1Public/BWSI_Dataset1.csv")

In [35]:
data.head(5)

,SubjectID,Year,Sex,Age,Ethnicity,ParentEducation,MaritalStatus,HouseIncome,Protein,Carb,...,Chol,VitA,VitC,Weight,Height,BMI,BloodPres,Diabetes,HealthIns,HoursTV
0,1,6,1,49,3,5,1,11,97.13,253.98,...,180.57,10292.63,112.19,92.5,178.3,29.10,694,2,1,2
1,2,2,1,37,3,4,5,11,130.02,309.57,...,1242.06,4181.03,70.96,99.2,180.0,30.62,1169,2,1,1
2,3,1,1,70,1,1,1,3,67.01,268.23,...,37.41,36792.50,78.51,63.6,157.7,25.57,725,1,1,5
3,4,6,2,38,3,5,3,8,82.66,264.69,...,596.30,3075.79,36.11,81.6,174.9,26.68,697,2,1,3
4,5,2,2,85,4,1,2,1,39.62,112.24,...,124.95,16894.37,69.19,41.5,144.2,19.96,687,2,1,1

Here's a list of all the column names, or every feature in the dataset.

In [36]:
list(data)

['SubjectID',
 'Year',
 'Sex',
 'Age',
 'Ethnicity',
 'ParentEducation',
 'MaritalStatus',
 'HouseIncome',
 'Protein',
 'Carb',
 'TotalFat',
 'Chol',
 'VitA',
 'VitC',
 'Weight',
 'Height',
 'BMI',
 'BloodPres',
 'Diabetes',
 'HealthIns',
 'HoursTV']

We're only going to be concerned with the real/continuous variables since we're performing linear regression, but we can also split the data into categories and see how the trends change.

Let's look at something relatively simple to start off with. In the cell below, plot a labelled scatterplot of Weight vs. Height and run linear regression on it, using either scikit or writing a function to calculate it manually.

In [1]:
# Insert code here

What's its $R^2$?

We know that as people grow in height linearly, their body mass can increase in an exponential way since they're growing in 3D space. Now, try the same scatterplot, but using the logarithm of Weight instead. 

(Hint: np.log([1,2,3]) gives [log(1), log(2), log(3)]. Use np.log on the Weight vector)

What's the $R^2$ now?

Now we're going to look at another known relationship. BMI is calculated as a function of weight and height, so we should be able to predict it exactly. But what can we use? we know from [this site](https://health.howstuffworks.com/wellness/diet-fitness/weight-loss/bmi1.htm) that the BMI is calculated using $$ \frac{weight}{height^2} $$
All we have to do is fit with those features, weight and 1/height$^2$.

Run linear regression on BMI vs Weight. Find the $R^2$ value

In [4]:
# Insert code here

Now add in the vector of 1/height$^2$ to the regression. Remember, 1/data["Height"] will take the reciprocals of each element in data["Height"], and data["Height"]**2 will square each element.

In [3]:
# Insert code here

What's the $R^2$?

As your last task, find an interesting relationship to visualize within this dataset or another NHANES dataframe. It can be Age vs. Weight, Height vs. TVHours, or anything else you think might show a relationship between two variables. You don't have to run Linear Regression or even find a linear relationship, but a trend should be visible. This exploration will be helpful for thinking and visualizing relationships for the final challenge problem.

In [6]:
# Find something fun!

Finally, if you've made it this far, try to derive the equations underlying Linear Regression. You'll need a bit of calculus, and it's a little trickier than you might think! Remember the total error is expressed in this summation

 $$ \text{Total error = }  \sum^n_{i=1} (y_i - (mx_i+b))^2$$
 
You simply have to take the derivative of this summation with respect to $m$ ($\frac{d}{dm}$) and again with respect to $b$ ($\frac{d}{db}$), set both equations equal to 0, and solve for m and b! You can go back to the Linear Regression notebook if you want to check your answers.